@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;700&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(hotpink,purple) ;
}
main{
    padding-top: 150px;
    padding-bottom: 150px;
}
.me{
    display: flex;
    justify-content: center;
}
#my-image{
    width: 250px;
    height: 250px;
    border-radius: 200px;
}
#logo{
    height: 30px;
}
#logo:hover{
    height: 40px;
}
a{
    text-decoration: none;
}
ul{
   list-style: none; 
}
.icon{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.ul li{
    display: inline;
    padding: 1.5rem;
}
.all{
    background-color: rgba(255,255,255,0.1);
    padding-top: 100px;
    padding-bottom: 150px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    backdrop-filter: blur(70px);
    border: 2px solid transparent;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
    line-height: 1.5;
}
.b{
    background-image: linear-gradient(to left, black, indigo,green);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.writeup{
    padding: 20px 50px;
}
a{
    text-decoration: none;
}
.one{
   text-justify: newspaper;
   font-family: 'Dancing Script', cursive;
   font-size: 1.5rem;
}
.two{
    padding: 10px 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}
#message{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.mail{
    width: 500px;
    height: 30vh;
    padding: 50px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: transparent;
}
.mail::placeholder{
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#but{
    background-color: transparent;
    height: 10vh;
    width: 150px;
    font-family: 'Dancing Script', cursive;
    border-radius: 50px;
    font-size: 25px;
    border:1px solid black;
}
#but:hover{
    background-color: black;
    color: white;
    font-size: 30px;
    width: 200px;
}
@media only screen and (max-width:1080px){
    main{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .all{
        background-color: rgba(255,255,255,0.1);
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        backdrop-filter: blur(70px);
        border: 2px solid transparent;
        box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
        line-height: 1.5;
    }
    #logo{
        height: 25px;
    }
    #logo:hover{
        height: 35px;
    }
    .ul li{
        padding: 0.5rem;
    }
    #my-image{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width:600px){
    main{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    body{
        overflow-x: hidden;
    }
    .all{
        background-color: rgba(255,255,255,0.1);
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 20px;
        backdrop-filter: blur(70px);
        border: 2px solid transparent;
        box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
        line-height: 1.5;
    }
    #my-image{
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
    #logo{
        height: 15px;
    }
    #logo:hover{
        height: 25px;
        }
    .ul li{
        padding: 0.3rem;
    }
    #message{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .mail{
        width: 275px;
        height: 25vh;
        padding: 20px;
    }
    .button{
        margin-top: 25px;
    }
    #but{
        height: 10vh;
        font-size: 25px;
        border: 1px solid black;
    }
}

